<html>

	<head>
		<meta charset="UTF-8">
		<title>Ouvidoria</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		
	</head>
	
	<body>
	
		
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
		   <a class="navbar-brand" href="http://www.localhost:8080/home">Home</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		       
		        <li class="nav-item">
		          <a class="nav-link" href="http://www.localhost:8080/manifestacao/formulario">Cadastrar nova manifestacao</a>
		        </li>
		        
		      </ul>
		      
		        <input v-model="manifestacao.busca" name="tituloManifestacao"  class="form-control me-2" type="search" placeholder="Pesquisar por manifestação" aria-label="Pesquisar">
		        <button v-on:click="buscarManifestacoes(manifestacao.busca)" id="submitButton"  class="btn btn-outline-success" type="submit">Pesquisar</button>
		      
		    </div>
		  </div>
		</nav>
		
				
		<div id="manifestacoes" class="container">
			
			<h1>Ouvidoria unifacisa</h1>
			<h2>Lista de manifestações:</h2>	
			
			<div class="card  mb-3" style="width: 40rem;" v-for="manifestacao in manifestacoes" >				
				<div class="card-header">
					<h5 class="card-title">{{manifestacao.titulo}}</h5>
					<small  class="text-muted">{{manifestacao.dataCriacao}}</small>
				</div>
				
				<div class="card-body">								
					<h6  class="card-subtitle mb-2 text-muted">{{manifestacao.categoria}}</h6>
					<p class="card-text" >{{manifestacao.descricao}}</p>				
					<div >
						 Aluno: <span > {{manifestacao.autor}} </span> 
					</div>					
					<div class="row">
						<div class="card-footer " >							
							<button v-on:click="apagarManifestacao(manifestacao.id)" class="btn btn-danger" type="submit" id="submitButton"> Excluir Manifestação </button>												
						</div>
					</div>		
				</div>			
			</div>
		</div>		
	</body>
	
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
<script>
		
	const listarManifestacoes = {
			data() {
				return{
				    	manifestacoes : []
		
				}
			},
			methods:{
				getManifestacoes(){
					axios.get("http://localhost:8080/manifestacoes").then(response => 
						this.manifestacoes = response.data
							
					)
				},
				apagarManifestacao(id){
					const uri = "http://localhost:8080/manifestacoes/" + id
					axios.delete(uri).then( document.location.reload(true) )
				    
				},
				buscarManifestacoes(titulo){
					const uri = "http://localhost:8080/manifestacoes/buscar/" + titulo
					axios.get(uri).then(response => 
						console.log(response.data)
						
					)
				}
			},
			mounted(){
				this.getManifestacoes();
			}
			
		}
	
			
		
	const myapp = Vue.createApp(listarManifestacoes).mount('#manifestacoes')		
	
	
</script>

</html>