<html>

	<head>
		<meta charset="UTF-8">
		<title>Ouvidoria</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		
	</head>
	
	<body>
	
		
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
		   <a class="navbar-brand" href="http://www.localhost:8080/home">Home</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		       
		        <li class="nav-item">
		          <form class="d-flex" action="#" th:action="@{/manifestacao/formulario}" th:method="get">
			        <button id="submitButton"  class="btn btn-outline-primary" type="submit">Cadastrar nova manifestacao</button>
			      </form>
		        </li>
		        
		      </ul>
		      <form class="d-flex" action="#" th:action="@{/home/buscar}" th:method="get">
		        <input name="tituloManifestacao"  class="form-control me-2" type="search" placeholder="Pesquisar por manifestação" aria-label="Pesquisar">
		        <button id="submitButton"  class="btn btn-outline-success" type="submit">Pesquisar</button>
		      </form>
		       <form class="d-flex" action="#" th:action="@{/logout}" th:method="post">
		        <button id="submitButton"  class="btn btn-outline-darger" type="submit">Sair</button>
		      </form>
		    </div>
		  </div>
		</nav>
		
				
		<div class="container">
			
			<h1>Ouvidoria unifacisa</h1>
			<h2>Lista de manifestações:</h2>	
			
			<div class="card  mb-3" style="width: 40rem;" th:each="manifestacao : ${manifestacoes}">
				
				
				
				<div class="card-header">
					<h5 th:text="${manifestacao.titulo}" class="card-title"></h5>
					<small th:text="${#temporals.format(manifestacao.dataCriacao, 'dd/MM/yyyy')}" class="text-muted"></small>
				</div>
				
				<div class="card-body">
								
					<h6 th:text="${manifestacao.tipo}"  class="card-subtitle mb-2 text-muted">Card subtitle</h6>
					<p class="card-text" th:text="${manifestacao.descricao}"></p>
					
					
					<div >
						 Aluno: <span th:text="${manifestacao.aluno.username}" > ata </span> 
					</div>
					
					
					
					<div class="row">
						<div class="card-footer " >
						
							<form action="#" th:action="@{'/manifestacao/delete/{id}'(id=${manifestacao.id})}" th:method="post" >
							 	<button class="btn btn-danger" type="submit" id="submitButton"> Excluir Manifestação </button>
							</form>
							
						
							
						</div>
					</div>
					
					
		
				</div>
				
				
			
			</div>
		</div>
		
		
	</body>

</html>